@mixin mobile {
    @media screen and (max-width: 480px) {
        @content;
    }
}

@mixin tablet {
    @media screen and (max-width: 768px) {
        @content;
    }
}

@mixin laptop {
    @media screen and (max-width: 1200px) {
        @content;
    }
}

* {
    margin: 0;
    padding: 0;
}

img {
    vertical-align: bottom; //убирает стандартный отступ у картинкки
}

.login {
    background-color: #f5f5f5;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
   

    .body {
        background-color: white;
        padding: 50px 100px 100px 100px;
        border-radius: 10px;
        border: 5px solid #dedcdd;
        display: flex;
        align-items: center;
        flex-direction: column;

        .login__btn {
            border: 5px solid #dedcdd;
            background-color: #fff;
            margin-top: 20px;
            padding: 10px;
            border-radius: 10px;
            cursor: pointer;

            &:hover {
                background-color: #dedcdd;
            }
            .login__icon {
                width: 20px;
                padding-right: 10px;
            }
        }
    }
}

.home {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .container {
        width: 100%;
        height: 100%;
        display: flex;

        .sidebar {
            flex: 1;

            border-right: 1px solid #dedcdd;
            overflow: hidden;

            .navbar {
                display: flex;
                align-items: center;
                background-color: #f5f5f5;
                height: 50px;
                padding: 15px;

                .user {
                    display: flex;

                    .user__img {
                        position: relative;
                    }

                    img {
                        height: 50px;
                        width: 50px;
                        border-radius: 50%;
                        object-fit: cover;
                    }

                    .user__icon {
                        color: #6ba175;
                        position: absolute;
                        top: 32px;
                        left: 40px;
                    }

                    .user__name {
                        font-size: 16px;
                        font-weight: 500;
                        padding: 0px 15px;
                        display: flex;
                        align-items: center;

                        @include mobile {
                            display: none;
                        }
                    }
                }

                .navbar__exit {
                    padding: 10px;
                    border-radius: 20px;
                    cursor: pointer;
                    border: 1px solid #dedcdd;

                    &:hover {
                        background-color: #3c4154;
                        color: #fff;
                    }
                }
            }

            .search {
                .searchForm {
                    padding: 15px;
                    background-color: #f5f5f5;
                    border-bottom: 1px solid #dedcdd;
                    position: relative;

                    .searchForm__icon {
                        color: #b0b0b0;
                        position: absolute;
                        top: 27px;
                        left: 25px;
                        font-size: 14px;
                    }

                    input {
                        background-color: #fafafa;
                        padding: 10px 10px 10px 35px;
                        border-radius: 20px;
                        width: 100%;
                        box-sizing: border-box;
                        margin-bottom: 5px;
                        border: 1px solid #dedcdd;
                    }
                }

                .userChat {
                    border-bottom: 1px solid #dedcdd;
                }
            }

            .displayNone {
                display: none;
            }

            .contacts {
                overflow-y: scroll;
                height: calc(100% - 153px);
            }

            .contacts__header {
                color: #58afd4;
                font-weight: 400;
                padding: 20px 0px 30px 15px;
            }

            .contact {
                padding: 15px;
                display: flex;
                cursor: pointer;
                border-bottom: 1px solid #dedcdd;
                height: 90px;
                box-sizing: border-box;

                &:hover {
                    background-color: #f5f5f5;
                }

                .contact__img {
                    display: flex;
                    align-items: center;
                    position: relative;

                    img {
                        width: 50px;
                        height: 50px;
                        object-fit: cover;
                        border-radius: 50%;
                    }

                    .contact__icon {
                        color: #6ba175;
                        position: absolute;
                        bottom: 5px;
                        left: 40px;
                    }
                }

                .contact__info {
                    padding: 0px 10px 0px 20px;
                    flex: 1 1 auto;
                    overflow: hidden;

                    .contact__name {
                        font-size: 16px;
                        font-weight: 500;
                    }

                    .contact__message {
                        font-size: 14px;
                        color: #b0b0b0;
                    }
                }

                .contact__date {
                    font-size: 14px;
                    min-width: 88px;
                    display: flex;
                    justify-content: flex-end;
                }
            }
        }

        .user {
            display: flex;

            .user__img {
                position: relative;
            }

            img {
                height: 50px;
                width: 50px;
                border-radius: 50%;
                object-fit: cover;
            }

            .user__icon {
                color: #6ba175;
                position: absolute;
                top: 32px;
                left: 40px;
            }

            .user__name {
                font-size: 16px;
                font-weight: 500;
                padding: 0px 15px;
                display: flex;
                align-items: center;

                @include mobile {
                    display: none;
                }
            }
        }

        .chat {
            flex: 2;
            background-color: #f5f5f5;

            .chatInfo {
                padding: 15px;
                min-height: 50px;
                display: flex;
                border-bottom: 1px solid #dedcdd;

                .chatInfo__img {
                    position: relative;
                    display: flex;
                    align-items: center;

                    img {
                        width: 50px;
                        height: 50px;
                        border-radius: 50%;
                        object-fit: cover;
                    }

                    .chatInfo__icon {
                        color: #6ba175;
                        position: absolute;
                        top: 32px;
                        left: 40px;
                    }
                }

                .chatInfo__name {
                    font-size: 16px;
                    font-weight: 500;
                    padding: 0px 15px;
                    display: flex;
                    align-items: center;
                }

                .chatNotification {
                    width: 50px;
                    height: 50px;
                    position: absolute;
                    top: 0;
                    right: 0;
                }
            }

            .messages {
                padding: 15px;
                height: calc(100% - 202px); //190 - высота chatInfo + input + их паддинги
                overflow-y: scroll;
                background-color: #fafafa;
                //190 - высота chatInfo + input + их паддинги

                .message {
                    display: flex;
                    margin-bottom: 20px;

                    .message__photo {
                        width: 50px;
                        height: 50px;
                        border-radius: 50%;
                        object-fit: cover;
                    }

                    .message__info {
                        max-width: 80%;
                        padding-left: 15px;
                        margin-bottom: 10px;

                        .message__text {
                            border-radius: 20px;
                            background-color: #3c4154;
                            color: #fff;
                            padding: 12px;
                            margin-bottom: 5px;
                            max-width: max-content;
                        }
                        .message__date {
                            padding-left: 10px;
                            font-size: 12px;
                            color: #b0b0b0;
                        }
                    }

                   
                    &.message_owner {
                        display:flex;
                        justify-content:flex-end;
                       
                      
                        .message__info_owner {
                           display: flex;
                           flex-direction: column;

                            .message__text_owner {
                                background-color: #e0e0e0;
                                color: #5f5f5f;
                                align-self: flex-end;
                            }
                            .message__date_owner {
                                padding-right: 10px;
                                display: flex;
                                justify-content:flex-end;
                            }
                        }
                    }
                }
            }

            .input {
                height: 50px;
                background-color: #f5f5f5;
                padding: 20px;
                display: flex;
                border-top: 1px solid #dedcdd;
                position: relative;

                .input__field {
                    width: 100%;
                    padding: 0px 50px 0px 15px;
                    border-radius: 15px;
                    border: 1px solid #dedcdd;
                }

                .input__btn {
                    border: none;

                    .input__icon {
                        position: absolute;
                        top: 35px;
                        right: 40px;
                        font-size: 20px;

                        /*  &:hover {
                            color: #f5f5f5;
                        } */
                    }
                }
            }
        }
    }
}